/* general */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d_flex{
    display: flex;
}

body{
    font-family: 'PT Sans', sans-serif;
}

:root{
    --blue: #0084FD;
    --lightblue: #B5DDFF;
    --purple: #9792E4;
    --orange: #FDC15F;
    --dark: #333333;
    --light: #FFFFFF;
    --grey: #d6d6d6; 
}

.row {
    display: flex;
    flex-wrap: wrap;
}



/* responsive_columns */

.col_1{
    width: calc(100% / 12 * 1);
    margin: 1rem 0;
}

.col_2{
    width: calc(100% / 12 * 2);
    margin: 1rem 0;

}

.col_3{
    width: calc(100% / 12 * 3);
    margin: 1rem 0;

}

.col_4{
    width: calc(100% / 12 * 4);
    height: 200px;
    border: 1px dashed var(--dark);
    margin: 1rem 0;

}

.col_5{
    width: calc(100% / 12 * 5);
    margin: 1rem 0;

}

.col_6{
    width: 50%;
    height: 200px;
    border: 1px dashed var(--dark);
    margin: 1rem 0;

}

.col_7{
    width: calc(100% / 12 * 7);
    margin: 1rem 0;

}

.col_8{
    width: calc(100% / 12 * 8);
    height: 200px;
    border: 1px dashed var(--dark);
    margin: 1rem 0;

}

.col_9{
    width: calc(100% / 12 * 9);
    margin: 1rem 0;

}

.col_10{
    width: calc(100% / 12 * 10);
    margin: 1rem 0;

}

.col_11{
    width: calc(100% / 12 * 11);
    margin: 1rem 0;

}

.col_12{
    width: 100%;
    margin: 1rem 0;

}

/* end-general */

/* web-header */
#web_header{
    background-color: var(--blue);
    height: 56px;
}

.container{
    max-width: 1180px;
    padding: 0.5rem;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.header_logo{
    height: 40px;
}

.header_logo img{
    width: 100%;
}

.navbar{
    height: 40px;
    width: 100%;
    display: none;
}

.navbar ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: end;
}

.navbar a{
    text-decoration: none;
    color: var(--light);
    margin: 1rem;
}

.navbar input{
    background-color: var(--light);
    border: none;
    border-radius: 24px;
    padding: 0.5rem;
}

.hamburger i{
    color: var(--light);
}

/* square */

.big_square_card{
    background-color: var(--lightblue);
    border-radius: 1rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 1rem;
}

.big_square_card h3{
    margin-bottom: 2rem;
}

.big_square_card p{
    margin-bottom: 2rem;
}

.big_square_card .primary_btn{
    margin-bottom: 2rem;
}


.big_square_card h3{
    color: var(--blue);
}

.primary_btn{
    background-color: var(--blue);
    color: var(--light);
    padding: 0.5rem;
    border: none;
    border-radius: 16px;
    width: 200px;
}

.phone_img{
    width: 100%;
    margin: auto;
}

.phone_img img{
    width: 100%;
}

.square_card{
    background-color: var(--lightblue);
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    margin: 0 1rem;
    height: 100%;
}

.square_card h3 {
    color: var(--blue);
    margin: 1rem 0
}

.square_card i{
    color: var(--blue);
    margin: 1rem 0
}



/* strategic */
.strategic{
    background-color: var(--purple);
    height: fit-content;
}

.strategic_content{
    color: var(--light);
}

.strategic_content img{
    width: 100%;
}

.strategic_content h2{
    margin: 1rem 0;
}

.strategic_content p{
    margin: 1rem 0;
}

.strategic_right_img{
    background-color: var(--light);
    border-radius: 2rem;
    text-align: center;
    padding: 1rem;
}

.strategic_right_img img{
    max-width: 100%;
}

.strategic_right_img h4{
    margin: 1rem 0;
}

.strategic_right_img p{
    margin: 1rem 0;
}

.strategic_icon{
    background-color: var(--purple);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: auto;
    justify-content: center;
    align-items: center;
}



/* partners */

.partners_title{
    text-align: center;
    margin: auto;
}

.partners_title .testimonial{
    margin: 1rem;
}

.partners_title h2{
    color: var(--purple);
    margin: 1rem;
}

.partners_card{
    background-color: var(--purple);
    padding: 1rem;
    border-radius: 2rem;
    color: var(--light);
    text-align: center;
}

.testimonial_container{
    width: 100px;
    height: 100px;
    margin: auto;
    margin-bottom: 1rem;
}

.testimonial_container img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.partners_card p{
    margin: 1rem 0;
    line-height: 2rem;
}

/* benefits */
.benefits{
    background-color: var(--purple);
    height: fit-content;
}

.card_benefit{
    background-color: var(--light);
    padding: 2rem;
    border-radius: 2rem;
    margin: 0 1rem;
}

.card_benefit h2, h3{
    color: var(--purple);
    margin: 1rem 0;
}

.card_benefit h2{
    font-size: 40px;
}

.card_benefit p{
    margin: 1rem 0;
}

.tertiary_btn{
    background-color: var(--purple);
    color: var(--light);
    padding: 0.5rem 3rem;
    border: none;
    border-radius: 1rem;
}

/* about */
.about_left{
    margin: 1rem;
}

.about_left h2{
    margin-bottom: 1rem;
    color: var(--purple);
    font-size: 40px;
}

.about_right{
    margin: 0 1rem;
}

.about_img{
    width: 110px;
    height: 110px;
    position: relative;
}

.about_img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.about_img i{
    color: var(--purple);
    position: absolute;
    right: 10px;
    top: 10px;
}

.about_right h4{
    color: var(--purple);
    margin: 1rem 0;
}


/* call to action */
.call_to_action{
    background-color: var(--purple);
    height: fit-content;
    text-align: center;
}

.call_to_action .get_started{
    color: var(--grey);
}

.call_to_action h3{
    color: var(--light);
    font-size: 32px;
}

.call_to_action h2{
    font-size: 40px;
    color: var(--orange);
    margin: 1rem 0;
}

.call_to_action p{
    color: var(--light);
    text-align: center;
    margin: 1rem 0;
}

.call_to_action button{
    color: var(--purple);
    background-color: var(--light);
    padding: 1rem 3rem;
    border-radius: 3rem;
    margin-bottom: 1rem;
}

.call_to_action .copyright{
    font-size: 12px;
    color: var(--light);
}

.call_to_action a{
    color: var(--light);
}

/* web footer */

#web_footer{
    background-color: var(--dark);
    color: var(--light);
    margin: 0 auto;
    text-align: center;
}

.disclaimer{
    margin: 1rem;
}

.right{
    margin: 1rem;
}

.right a{
    color: var(--purple);
}


/* media query */

 @media screen and (min-width: 768px) {
    
    .partners_card{
        display: flex;
    }

    .testimonial_txt{
        text-align: left;
    }

    .testimonial_txt p{
        text-align: left;
        margin: 0;
    }

    .testimonial_container{
        margin: auto 2rem;
    }

    .col_md_1{ 
        width: calc(100% / 12 * 1);
    }
    
    .col_md_2{
        width: calc(100% / 12 * 2);
    }
    
    .col_md_3{
        width: calc(300% / 12 * 3);
    }
    
    .col_md_4{
        width: calc(100% / 12 * 4);
    }
    
    .col_md_5{
        width: calc(100% / 12 * 5);
    }
    
    .col_md_6{
        width: 50%;
    }
    
    .col_md_7{
        width: calc(100% / 12 * 7);
    }
    
    .col_md_8{
        width: calc(100% / 12 * 8);
    }
    
    .col_md_9{
        width: calc(100% / 12 * 9);
    }
    
    .col_md_10{
        width: calc(100% / 12 * 10);
    }
    
    .col_md_11{
        width: calc(100% / 12 * 11);
    }
    
    .col_md_12{
        width: 100%;
    }
}

@media screen and (min-width: 991px) {
    
    .navbar{
        display: inline-block;
    }

    .hamburger{
        display: none;
    }

    .big_square_card{
        display: flex;
    }
       
    .strategic_right_img{
        margin-top: 20rem;
        margin-left: 2rem;
    }

    .testimonial_container{
        margin: auto 2rem;
    }
    
    .col_lg_1{
        width: calc(100% / 12 * 1);
    }
    
    .col_lg_2{
        width: calc(100% / 12 * 2);
    }
    
    .col_lg_3{
        width: calc(300% / 12 * 3);
    }
    
    .col_lg_4{
        width: calc(100% / 12 * 4);
        
    }
    
    .col_lg_5{
        width: calc(100% / 12 * 5);
    }
    
    .col_lg_6{
        width: 50%;
        
    }
    
    .col_lg_7{
        width: calc(100% / 12 * 7);
    }
    
    .col_lg_8{
        width: calc(100% / 12 * 8);
       
    }
    
    .col_lg_9{
        width: calc(100% / 12 * 9);
    }
    
    .col_lg_10{
        width: calc(100% / 12 * 10);
    }
    
    .col_lg_11{
        width: calc(100% / 12 * 11);
    }
    
    .col_lg_12{
        width: 100%;
    }
}   