/* general */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d_flex{
    display: flex;
}

body{
    font-family: 'PT Sans', sans-serif;
}

:root{
    --blue: #0084FD;
    --lightblue: #B5DDFF;
    --purple: #9792E4;
    --orange: #FDC15F;
    --dark: #333333;
    --light: #FFFFFF;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/* responsive_columns */

.col_1{
    width: calc(100% / 12 * 1);
    margin: 1rem 0;
}

.col_2{
    width: calc(100% / 12 * 2);
    margin: 1rem 0;

}

.col_3{
    width: calc(100% / 12 * 3);
    margin: 1rem 0;

}

.col_4{
    width: calc(100% / 12 * 4);
    height: 200px;
    border: 1px dashed var(--dark);
    margin: 1rem 0;

}

.col_5{
    width: calc(100% / 12 * 5);
    margin: 1rem 0;

}

.col_6{
    width: 50%;
    height: 200px;
    border: 1px dashed var(--dark);
    margin: 1rem 0;

}

.col_7{
    width: calc(100% / 12 * 7);
    margin: 1rem 0;

}

.col_8{
    width: calc(100% / 12 * 8);
    height: 200px;
    border: 1px dashed var(--dark);
    margin: 1rem 0;

}

.col_9{
    width: calc(100% / 12 * 9);
    margin: 1rem 0;

}

.col_10{
    width: calc(100% / 12 * 10);
    margin: 1rem 0;

}

.col_11{
    width: calc(100% / 12 * 11);
    margin: 1rem 0;

}

.col_12{
    width: 100%;
    height: 200px;
    border: 1px dashed var(--dark);
    margin: 1rem 0;

}

/* end-general */

/* web-header */
#web_header{
    background-color: var(--blue);
    height: 56px;
}

.container{
    max-width: 1180px;
    padding: 0.5rem;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.header_logo{
    height: 40px;
}

.header_logo img{
    width: 100%;
}

.navbar{
    height: 40px;
    width: 100%;
    display: none;
}

.navbar ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: end;
}

.navbar a{
    text-decoration: none;
    color: var(--light);
    margin: 1rem;
}

.navbar input{
    background-color: var(--light);
    border: none;
    border-radius: 24px;
    padding: 0.5rem;
}

.hamburger i{
    color: var(--light);
}



/* square */

/* strategic */
.strategic{
    background-color: var(--purple);
    height: fit-content;
}

/* partners */

/* benefits */
.benefits{
    background-color: var(--purple);
    height: fit-content;
}

/* call to action */
.call_to_action{
    background-color: var(--purple);
    height: fit-content;
}
/* media query */

 @media screen and (min-width: 768px) {
    
    .col_md_1{ 
        width: calc(100% / 12 * 1);
    }
    
    .col_md_2{
        width: calc(100% / 12 * 2);
    }
    
    .col_md_3{
        width: calc(300% / 12 * 3);
    }
    
    .col_md_4{
        width: calc(100% / 12 * 4);
        height: 200px;
        border: 1px dashed var(--dark);
    }
    
    .col_md_5{
        width: calc(100% / 12 * 5);
    }
    
    .col_md_6{
        width: 50%;
        height: 200px;
        border: 1px dashed var(--dark);
    }
    
    .col_md_7{
        width: calc(100% / 12 * 7);
    }
    
    .col_md_8{
        width: calc(100% / 12 * 8);
        height: 200px;
        border: 1px dashed var(--dark);
    }
    
    .col_md_9{
        width: calc(100% / 12 * 9);
    }
    
    .col_md_10{
        width: calc(100% / 12 * 10);
    }
    
    .col_md_11{
        width: calc(100% / 12 * 11);
    }
    
    .col_md_12{
        width: 100%;
    }
}

@media screen and (min-width: 991px) {
    
    .navbar{
        display: inline-block;
    }

    .hamburger{
        display: none;
    }
        
    
    .col_lg_1{
        width: calc(100% / 12 * 1);
    }
    
    .col_lg_2{
        width: calc(100% / 12 * 2);
    }
    
    .col_lg_3{
        width: calc(300% / 12 * 3);
    }
    
    .col_lg_4{
        width: calc(100% / 12 * 4);
        height: 200px;
        border: 1px dashed var(--dark);
    }
    
    .col_lg_5{
        width: calc(100% / 12 * 5);
    }
    
    .col_lg_6{
        width: 50%;
        height: 200px;
        border: 1px dashed var(--dark);
    }
    
    .col_lg_7{
        width: calc(100% / 12 * 7);
    }
    
    .col_lg_8{
        width: calc(100% / 12 * 8);
        height: 200px;
        border: 1px dashed var(--dark);
    }
    
    .col_lg_9{
        width: calc(100% / 12 * 9);
    }
    
    .col_lg_10{
        width: calc(100% / 12 * 10);
    }
    
    .col_lg_11{
        width: calc(100% / 12 * 11);
    }
    
    .col_lg_12{
        width: 100%;
    }
}   